*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

#Android studio auto create
*.iml
*.log
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# IDEA/Android Studio project files, because
# the project can be imported from settings.gradle
.idea

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

#module
/app/build
/app/*.iml
/framework/build
/framework/*.iml
/framework/local.properties

