<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.callme.platform"
    android:versionCode="1"
    android:versionName="1.0">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application>
        <activity android:name="com.callme.platform.widget.crop.CropTestActivity" />

        <activity
            android:name="com.callme.platform.widget.crop.SelectionPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />

        <activity
            android:name="com.callme.platform.widget.crop.SimpleCropActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.callme.platform.widget.crop.EnhanceCropActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.callme.platform.widget.crop.ImageViewActivity"
            android:screenOrientation="portrait" />

        <!-- 您从百度网站获取的APP KEY，根据实际您的APP申请的APP_KEY进行修改 -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="a9e2ad84a2" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />

        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />

        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />

        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />

        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />
    </application>
</manifest>